name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    - cron: '30 18 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: pppershin/pppershin@main
        with:
          WAKATIME_API_KEY: ${{ secrets.f2a5da2f-58bf-4f81-8a47-e511aca1a0c7 }}
          GH_TOKEN: ${{ secrets.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 }}
          SHOW_OS: "False"
          SHOW_COMMIT: "True"
          SHOW_PROJECTS: "True"
          
